@import url(//db.onlinewebfonts.com/c/04c4a36facccf2d0906a0f1ed61036ef?family=Favorit);

@font-face {font-family: "Favorit"; src: url("//db.onlinewebfonts.com/t/04c4a36facccf2d0906a0f1ed61036ef.eot");
            src: url("//db.onlinewebfonts.com/t/04c4a36facccf2d0906a0f1ed61036ef.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/04c4a36facccf2d0906a0f1ed61036ef.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/04c4a36facccf2d0906a0f1ed61036ef.woff") format("woff"), url("//db.onlinewebfonts.com/t/04c4a36facccf2d0906a0f1ed61036ef.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/04c4a36facccf2d0906a0f1ed61036ef.svg#Favorit") format("svg"); }

@font-face {
  font-family: GTMaruMega;
  src: url(../fonts/GT-Maru-Mega-Trial-VF.ttf);
}

@font-face {
  font-family: GTAlpina;
  src: url(../fonts/GT-Alpina-Typewriter-VAR-Trial.ttf);
}

@font-face {
  font-family: HelveticaNeue;
  src: url(../fonts/HelveticaNeueLTStd-Ex.otf);
}


h1.heading {
  font-family: GTAlpina
}


.heading {
    font-family: 'HelveticaNeue';
}

h3, .h3 {
    font-size: 2em;
    margin: .67em 0;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased;
    color: black;
    font-weight:200;
}

.mt-4, .my-4 {
    margin-top: 1.5rem !important;
    font-family: "HelveticaNeue";
    font-size: 18px;
    line-height: 1.4;
    color: #000;
    line-height: 30px;
    margin-bottom: 30px;
    font-size:16px;
    font-weight:100
}
